@font-face {
  font-family: "Akzidenz-Grotesk-Regular";
  src: url("./fonts/AKZIDENZ-GROTESK-PRO-LIGHT-REGULAR.OTF");
  font-weight: light;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Regular";
  src: url("./fonts/AKZIDENZ-GROTESK-PRO-REGULAR-REGULAR.OTF");
  font-weight: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Regular";
  src: url("/fonts/AKZIDENZ-GROTESK-PRO-MED-REGULAR.OTF");
  font-weight: bold;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Extended";
  src: url("./fonts/AKZIDENZ-GROTESK-PRO-LIGHT-EXT-REGULAR.OTF");
  font-weight: light;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Extended";
  src: url("./fonts/AKZIDENZ-GROTESK-PRO-MED-EXT-REGULAR.OTF");
  font-weight: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Extended";
  src: url("./fonts/AKZIDENZ-GROTESK-PRO-BOLD-EXT-REGULAR.OTF");
  font-weight: bold;
}

:root {
  --black: #1e1e1e;
  --gray: #9a9a9a;
  --mustard: #e5b635;
  --light-yellow: #fbf0d0;
}

/* Header styling */
header {
  text-align: center;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header div {
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("assets/contacts.png");
  background-size: cover;
  background-position: center;
  opacity: 20%;
}
/* Card container styling */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 2rem;
  padding-block-end: 2rem;
  position: relative;
  z-index: 1;
}

/* Card styling */
.card {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--light-yellow);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  /* Make each card span the middle column and one row */
  grid-column: 2 / span 1;
  grid-row: auto / span 1;
}

.card h2 {
  font-size: 24px;
  color: var(--black);
}

.card p {
  font-size: 16px;
  color: var(--black);
}

.card a {
  color: var(--mustard);
  text-decoration: none;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
}
