:root {
  --black: #1e1e1e;
  --gray: #9a9a9a;
  --mustard: #e5b635;
  --light-yellow: #fbf0d0;
}

/* ------------header---------------------- */
header {
  text-align: center;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header div {
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("assets/contacts.png");
  background-size: cover;
  background-position: center;
  opacity: 20%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 2rem;
  padding-block-end: 2rem;
  position: relative;
  z-index: 1;
}

.card {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--light-yellow);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  grid-column: 2 / span 1;
  grid-row: auto / span 1;
}

.card h2 {
  font-size: 24px;
  color: var(--black);
}

.card p {
  font-size: 16px;
  color: var(--black);
}

.card a {
  color: var(--mustard);
  text-decoration: none;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }

  header div {
    grid-area: auto;
  }

  /* .background-container {
    display: none; 
  } */

  .card-container {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
    justify-content: center;
  }

  .card {
    grid-column: auto;
    grid-row: auto;
  }
}
