.hero-image img {
  max-width: 100%;
  height: auto;
}

.info {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  padding-top: 3rem;
}

.info > div:nth-child(1),
.info > div:nth-of-type(2) {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info > div:nth-child(1) {
  grid-area: 1/2;
}

.info > img:nth-of-type(1) {
  grid-area: 1/3;
  justify-content: center;
  align-self: center;
  max-width: 100%;
}

.info > img:nth-of-type(2) {
  grid-area: 2/2;
  justify-content: center;
  align-self: center;
  max-width: 100%;
}

.info > div:nth-of-type(2) {
  grid-area: 2/3;
}

.guidelines {
  background-image: url(assets/section-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  min-height: 100vh;
}

.guidelines > div:nth-of-type(1) {
  grid-area: 1/2;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.join-us {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  gap: 1.5rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.join-us div {
  grid-area: 1/3;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.join-us img {
  grid-area: 1/2;
  justify-content: center;
  align-self: center;
  max-width: 100%;
}

.join-us a {
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.join-us a::after {
  content: url("assets/line.png");
  position: absolute;
  left: 0.5rem;
  top: 1rem;
}
/* -------------------------------- */
.upcoming-events {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
}

.upcoming-events > div:nth-of-type(1) {
  grid-area: 1/2/2/5;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  /* gap: 1rem; */
  align-items: center;
}

.upcoming-events > div:nth-of-type(1) h2 {
  color: var(--black);
  grid-column: 1 / span 2;
  align-items: center;
  font-size: 4rem;
}

.upcoming-events > div:nth-of-type(1) img {
  max-width: 100%;
  height: auto;
  z-index: -1;
  grid-column: 3 / span 1;
  margin-left: auto;
}

.games-container {
  grid-area: 2/2/3/5;
  padding-block-end: 10rem;
  color: var(--light-yellow);
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.games div {
  background-color: var(--black);
  flex: 1;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-inline: 1rem;
}

.games img {
  width: 100%;
  height: auto;
}
.games p.gameType {
  padding: 1rem;
  font-weight: bold;
}
.games p.date {
  padding-inline-start: 1rem;
  color: var(--mustard);
}

.games h2,
.games p.location,
.games p.teams {
  padding-inline-start: 1rem;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}

.buttons a.button {
  padding: 0.3rem 0.8rem;
  background-color: var(--mustard);
  color: var(--black);
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

.buttons a.button:hover {
  background-color: var(--black);
  color: var(--mustard);
}

@media screen and (max-width: 768px) {
  .hero-image img {
    content: url("assets/hero-image-mobile.png");
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-top: 1rem;
  }

  .info > div:nth-child(1),
  .info > div:nth-of-type(2) {
    gap: 0.5rem;
  }

  .info > div:nth-child(1) {
    grid-area: 2/2;
  }

  .info > img:nth-of-type(1) {
    grid-area: 1/2;
    max-width: 80%;
  }

  .info > img:nth-of-type(2) {
    grid-area: 3/2;
    max-width: 80%;
  }

  .info > div:nth-of-type(2) {
    grid-area: 4/2;
  }

  .guidelines {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .guidelines > div:nth-of-type(1) {
    order: 2;
  }

  .join-us {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1rem;
  }

  .join-us div {
    grid-area: 2/2;
  }

  .join-us img {
    grid-area: 1/2;
    max-width: 100%;
  }

  .upcoming-events > div:nth-of-type(1) {
    grid-template-columns: 1fr;
  }

  .upcoming-events > div:nth-of-type(1) h2 {
    grid-column: 1 / span 1;
    font-size: 2rem;
  }

  .upcoming-events > div:nth-of-type(1) img {
    max-width: 80%;
    height: auto;
    grid-column: 1 / span 1;
    margin-left: auto;
  }

  .games-container {
    padding-block-end: 5rem;
  }

  .games div {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
