* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fbf0d0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 5rem;
}

nav a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s;
}
/* nav a:hover {
  color: yellow;
} */

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem; /* 2px in rem */
  background: #e5b635;
  bottom: -0.25rem; /* 4px in rem */
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-image {
  max-width: 100vw;
}

.info,
.join-us {
  display: flex;
  flex-direction: row;
}

.guidelines {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
