.hero-image {
  max-width: 100vw;
}

.info,
.join-us {
  display: flex;
  flex-direction: row;
}

.guidelines {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
