:root {
  --black: #1e1e1e;
  --gray: #9a9a9a;
  --mustard: #e5b635;
  --light-yellow: #fbf0d0;
}

/* ------------------  ----------------------*/

article {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding-block-end: 3rem;
}
article div {
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
article {
  text-align: center;
}
/* ------------------  ----------------------*/

.filter-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding-block-end: 5rem;
}
.filter-container div {
  grid-area: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.filter:hover {
  color: var(--mustard);
}

.active {
  color: var(--mustard);
}

.active::after {
  content: url("assets/line.png");
  position: absolute;
  top: 100%;
  left: 0%;
}

/* ------------------  ----------------------*/

#list-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-block-end: 3rem;
}
#list {
  grid-area: 1/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
}

#list img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
}
