:root {
  --black: #1e1e1e;
  --gray: #9a9a9a;
  --mustard: #e5b635;
  --light-yellow: #fbf0d0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-yellow);
  font-family: "Akzidenz-Grotesk-Regular";
}

/* ------------------ header ----------------------*/

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header div {
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* ------------------ game ----------------------*/
.game {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 20% 80%;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  align-items: center;
  justify-content: center;
}
.title {
  grid-area: 1/2;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.click-them {
  grid-area: 1/3;
  text-align: center;
  margin-top: 20px;
}

.click-them p {
  display: inline-block;
  font-weight: bolder;
  color: var(--black);
  position: relative;
  animation: arrowAnimation 1s infinite;
}

.click-them p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 15px;
  border-style: solid;
  border-color: var(--mustard) transparent transparent transparent;
  transform: rotate(180deg);
  animation: arrowAnimation 1s infinite;
}

@keyframes arrowAnimation {
  0%,
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.image-container {
  position: relative;
  grid-area: 2/2/3/4;
  display: grid;
  width: 100%;
  height: 80vh;
}

.image-container img {
  position: absolute;
  /* width: 90%; */
  height: auto;
}

.track {
  justify-self: center;
  rotate: calc(-10deg);
  width: 70%;
}
.nso {
  width: 13%;
  top: 30%;
  left: 33%;
}
.skaters {
  width: 25%;
  top: -10%;
  left: 50%;
}
.ref {
  width: 15%;
  top: 3%;
  left: 7%;
}
.commentators-2 {
  width: 20%;
  top: 75%;
  left: 0%;
}
.penalty {
  width: 17%;
  top: 7%;
  left: 80%;
}
.merch-bw {
  width: 18%;
  top: 70%;
  left: 60%;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25rem;
  height: 12rem;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: var(--mustard);
  color: var(--black);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 4;
  max-width: 80vw;
}

.popup h3 {
  margin-bottom: 10px;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  z-index: 1;
  display: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.overlay.active {
  opacity: 70%;
  color: black;
  pointer-events: none;
}

.popup.active {
  display: block;
}

/* ------------------ basics ----------------------*/

.basics {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  justify-content: center;
  align-items: center;
}

.basics-title {
  grid-area: 1/2;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
}
.track-basics {
  rotate: calc(-20deg);
  width: auto;
  height: 40vh;
}
.basics article {
  grid-area: 2/2;
  display: flex;
}
.helmets-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 25rem;
}

.helmets {
  position: relative;
  width: 100%;
  height: 100%;
}
.helmets img {
  width: 30%;
  height: auto;
  cursor: pointer;
  transition: filter 0.3s;
  position: absolute;
  transition: filter 0.3s, transform 0.3s;
}
.helmets img:not(:hover) {
  animation: scale 4s linear infinite;
}
@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

#jammer-helmet {
  top: -50%;
  left: 40%;
}

#blocker-helmet {
  bottom: 0%;
  left: 10%;
  opacity: 0.5;
}

#pivot-helmet {
  bottom: 0%;
  right: 0%;
  opacity: 0.5;
}

.helmet-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 20rem;
  overflow: visible;
  white-space: pre-line;
}

/* ------------------ questions ----------------------*/

.questions {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  margin-top: 8rem;
  gap: 3rem;
}

.questions > div:first-child {
  grid-area: 1/2;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.questions-title {
  text-align: left;
  place-self: center;
}
.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-self: center;

  gap: 2rem;
}
.question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-self: center;
  text-align: center;
}

.navigation-buttons button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-arrow {
  background-image: url("assets-about/left-arrow.png");
}

.right-arrow {
  background-image: url("assets-about/right-arrow.png");
}

.navigation-buttons button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* ------------------ fun-facts ----------------------*/
.fun-facts {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fun-facts > div {
  grid-area: 1/2;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.fun-facts > div > h2 {
  text-align: center;
}
.cards-container {
  position: relative;
  height: 50vh;
  width: 25vw;
  justify-items: center;
  align-items: center;
}

.card {
  position: absolute;
  transition: transform 0.1s ease-in, opacity 0.3s, z-index 0.2s;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.card:nth-child(1) {
  transform: translateX(-3%) translateY(5%) rotate(-1deg);
}

.card:nth-child(2) {
  transform: translateX(0) translateY(0);
}

.card:nth-child(3) {
  transform: translateX(4%) translateY(4%) rotate(1deg);
}

.mustard-square {
  background-color: var(--mustard);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mustard-square h3 {
  font-weight: bold;
  font-size: 52px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mustard-square p {
  text-align: left;
  margin-inline-end: 1.5em;
}

.class1 {
  z-index: 1;
}

.class2 {
  z-index: 2;
}

.class3 {
  z-index: 3;
}

.card-clicked {
  animation: cardClickAnimation 0.5s ease-in;
}

@keyframes cardClickAnimation {
  0% {
    transform: translateY(0) scale(1);
  }
  75% {
    transform: translateY(-5%) scale(1.03);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 768px) {
  /* ------------------ header ----------------------*/

  header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  header div {
    gap: 1rem;
  }

  /* ------------------ game ----------------------*/

  .game {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 3fr; */
    padding: 2rem;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .title {
    /* grid-row: 1; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .click-them {
    /* grid-row: 2; */
    text-align: center;
  }
  .image-container {
    position: relative;
    /* grid-row: 3; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 100%;
  }

  .track {
    width: 100%;
    rotate: calc(-40deg);
  }
  .nso {
    width: 20%;
    top: 45%;
    left: 33%;
  }
  .skaters {
    width: 35%;
    top: 20%;
    left: 50%;
  }
  .ref {
    width: 20%;
    top: 30%;
    left: 7%;
  }
  .commentators-2 {
    width: 28%;
    top: 65%;
    left: 0%;
  }
  .penalty {
    width: 25%;
    top: 40%;
    left: 80%;
  }
  .merch-bw {
    width: 25%;
    bottom: 0;
    left: 60%;
  }
  .click-them {
    /* grid-area: 2/2; */
    text-align: center;
    margin-top: 20px;
  }
  /* ------------------ question ----------------------*/

  .questions {
    grid-template-columns: 5% 90% 5%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;

    gap: 2rem;
    justify-content: center;
  }

  .questions > div:first-child {
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
  .questions-title {
    text-align: center;
  }

  /* ------------------ basics ----------------------*/
  .basics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    gap: 1rem;
    padding: 2rem;
  }
  .basics-title {
    grid-area: 1/2;
    justify-content: flex-end;
    align-self: center;
  }
  .basics article {
    grid-area: 2/2;
    display: grid;
    grid-template-rows: 30% 70%;
  }
  .track-basics {
    rotate: calc(-20deg);
    width: auto;
    height: 30vh;
    justify-self: center;
  }
  .helmets-container {
    gap: 1rem;
    width: 100%;
    height: 30rem;
  }

  #jammer-helmet {
    top: 20%;
  }

  #blocker-helmet {
    bottom: 20%;
  }

  #pivot-helmet {
    bottom: 20%;
  }

  .helmet-text {
    height: 100%;
    width: 100%;
    padding-inline: 2rem;
  }

  /* ------------------ fun facts ----------------------*/

  .fun-facts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
  }

  .fun-facts > div {
    grid-area: 1/2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .cards-container {
    position: relative;
    height: 20rem;
    width: 20rem;
    justify-items: center;
    align-items: center;
  }
  .card {
    width: 100%;
    height: 100%;
  }

  .mustard-square h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .mustard-square p {
    text-align: left;
    margin-inline: 0;
  }
}
